$mw: 1300px;
$contetw: 1300px;
$ffontf: Frames Part One;
$pfontf: Pixel Countdown;

.head {
  position: fixed;
  left: 0;
  right: 0;
  padding: 17px 0;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: var(--bg-color);

  .content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: $contetw;
  }

  .head-logo {
    height: 46px;
    cursor: pointer;
  }

  .navs {
    list-style: none;
    color: #0F0;
    font-family: $pfontf;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;

    .nav {
      display: inline-block;
      margin: 0 30px;
      cursor: pointer;

      &:hover {
        color: #FFF;
      }
    }
  }

  .head-links {
    padding: 12px 30px;

    .link {
      display: inline-block;
      margin: 0 6px;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 22px;
      border-radius: 50%;
      background-color: #0F0;

      >img {
        margin-top: 4px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.head-dropdown-over {
  .ant-dropdown-menu {
    width: 200px;
    background-color: #FF006E;
    border-radius: 0;
    font-family: $pfontf;
  }

  .menu-item, .menu-item-line {
    line-height: 40px;
    text-align: center;
  }
  
  .menu-item-line {
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background-color: #000;
    }
    
  }
}

.r-link {
  position: relative;
  margin-top: 5px;
  width: 91px;
  height: 42px;
  cursor: pointer;

  .text {
    position: absolute;
    z-index: 2;
    left: 7px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #FF006E;
    font-family: $pfontf;
    font-size: 16px;
    font-weight: 700;
  }


  .bg {
    position: absolute;
    left: -7px;
    top: -7px;
    box-shadow: 21px 7px 0 0 rgba(255,0,110,1), 28px 7px 0 0 rgba(255,0,110,1), 35px 7px 0 0 rgba(255,0,110,1), 42px 7px 0 0 rgba(255,0,110,1), 49px 7px 0 0 rgba(255,0,110,1), 56px 7px 0 0 rgba(255,0,110,1), 63px 7px 0 0 rgba(255,0,110,1), 70px 7px 0 0 rgba(255,0,110,1), 77px 7px 0 0 rgba(255,0,110,1), 84px 7px 0 0 rgba(255,0,110,1), 91px 7px 0 0 rgba(255,0,110,1), 14px 14px 0 0 rgba(255,0,110,1), 98px 14px 0 0 rgba(255,0,110,1), 7px 21px 0 0 rgba(255,0,110,1), 105px 21px 0 0 rgba(255,0,110,1), 7px 28px 0 0 rgba(255,0,110,1), 105px 28px 0 0 rgba(255,0,110,1), 14px 35px 0 0 rgba(255,0,110,1), 98px 35px 0 0 rgba(255,0,110,1), 21px 42px 0 0 rgba(255,0,110,1), 28px 42px 0 0 rgba(255,0,110,1), 35px 42px 0 0 rgba(255,0,110,1), 42px 42px 0 0 rgba(255,0,110,1), 49px 42px 0 0 rgba(255,0,110,1), 56px 42px 0 0 rgba(255,0,110,1), 63px 42px 0 0 rgba(255,0,110,1), 70px 42px 0 0 rgba(255,0,110,1), 77px 42px 0 0 rgba(255,0,110,1), 84px 42px 0 0 rgba(255,0,110,1), 91px 42px 0 0 rgba(255,0,110,1);
    height: 7px;
    width: 7px;
  }

  &:hover {
    .text {
      color: #000;
    }
    .bg {
       box-shadow: 21px 7px 0 0 rgba(255,0,110,1), 28px 7px 0 0 rgba(255,0,110,1), 35px 7px 0 0 rgba(255,0,110,1), 42px 7px 0 0 rgba(255,0,110,1), 49px 7px 0 0 rgba(255,0,110,1), 56px 7px 0 0 rgba(255,0,110,1), 63px 7px 0 0 rgba(255,0,110,1), 70px 7px 0 0 rgba(255,0,110,1), 77px 7px 0 0 rgba(255,0,110,1), 84px 7px 0 0 rgba(255,0,110,1), 91px 7px 0 0 rgba(255,0,110,1), 14px 14px 0 0 rgba(255,0,110,1), 21px 14px 0 0 rgba(255,0,110,1), 28px 14px 0 0 rgba(255,0,110,1), 35px 14px 0 0 rgba(255,0,110,1), 42px 14px 0 0 rgba(255,0,110,1), 49px 14px 0 0 rgba(255,0,110,1), 56px 14px 0 0 rgba(255,0,110,1), 63px 14px 0 0 rgba(255,0,110,1), 70px 14px 0 0 rgba(255,0,110,1), 77px 14px 0 0 rgba(255,0,110,1), 84px 14px 0 0 rgba(255,0,110,1), 91px 14px 0 0 rgba(255,0,110,1), 98px 14px 0 0 rgba(255,0,110,1), 7px 21px 0 0 rgba(255,0,110,1), 14px 21px 0 0 rgba(255,0,110,1), 21px 21px 0 0 rgba(255,0,110,1), 28px 21px 0 0 rgba(255,0,110,1), 35px 21px 0 0 rgba(255,0,110,1), 42px 21px 0 0 rgba(255,0,110,1), 49px 21px 0 0 rgba(255,0,110,1), 56px 21px 0 0 rgba(255,0,110,1), 63px 21px 0 0 rgba(255,0,110,1), 70px 21px 0 0 rgba(255,0,110,1), 77px 21px 0 0 rgba(255,0,110,1), 84px 21px 0 0 rgba(255,0,110,1), 91px 21px 0 0 rgba(255,0,110,1), 98px 21px 0 0 rgba(255,0,110,1), 105px 21px 0 0 rgba(255,0,110,1), 7px 28px 0 0 rgba(255,0,110,1), 14px 28px 0 0 rgba(255,0,110,1), 21px 28px 0 0 rgba(255,0,110,1), 28px 28px 0 0 rgba(255,0,110,1), 35px 28px 0 0 rgba(255,0,110,1), 42px 28px 0 0 rgba(255,0,110,1), 49px 28px 0 0 rgba(255,0,110,1), 56px 28px 0 0 rgba(255,0,110,1), 63px 28px 0 0 rgba(255,0,110,1), 70px 28px 0 0 rgba(255,0,110,1), 77px 28px 0 0 rgba(255,0,110,1), 84px 28px 0 0 rgba(255,0,110,1), 91px 28px 0 0 rgba(255,0,110,1), 98px 28px 0 0 rgba(255,0,110,1), 105px 28px 0 0 rgba(255,0,110,1), 14px 35px 0 0 rgba(255,0,110,1), 21px 35px 0 0 rgba(255,0,110,1), 28px 35px 0 0 rgba(255,0,110,1), 35px 35px 0 0 rgba(255,0,110,1), 42px 35px 0 0 rgba(255,0,110,1), 49px 35px 0 0 rgba(255,0,110,1), 56px 35px 0 0 rgba(255,0,110,1), 63px 35px 0 0 rgba(255,0,110,1), 70px 35px 0 0 rgba(255,0,110,1), 77px 35px 0 0 rgba(255,0,110,1), 84px 35px 0 0 rgba(255,0,110,1), 91px 35px 0 0 rgba(255,0,110,1), 98px 35px 0 0 rgba(255,0,110,1), 21px 42px 0 0 rgba(255,0,110,1), 28px 42px 0 0 rgba(255,0,110,1), 35px 42px 0 0 rgba(255,0,110,1), 42px 42px 0 0 rgba(255,0,110,1), 49px 42px 0 0 rgba(255,0,110,1), 56px 42px 0 0 rgba(255,0,110,1), 63px 42px 0 0 rgba(255,0,110,1), 70px 42px 0 0 rgba(255,0,110,1), 77px 42px 0 0 rgba(255,0,110,1), 84px 42px 0 0 rgba(255,0,110,1), 91px 42px 0 0 rgba(255,0,110,1);
    }
  }

}
