@media screen and (max-width: 900px) {
	$mw: 7.5rem;
	$contetw: 7.5rem;
	$green: #0f0;
	$ffontf: Frames Part One;
	$pfontf: Pixel Countdown;

	// common
	.w-g-link {
		position: relative;
		width: 2.8rem;
		height: 0.6rem;
		cursor: pointer;

		.text {
			position: absolute;
			top: 0.15625rem;
			z-index: 2;
			width: 100%;
			text-align: center;
			color: #000;
			font-family: $ffontf;
			font-size: 0.16rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
		}

		.bg {
			position: absolute;
			left: -0.1rem;
			top: -0.1rem;
			box-shadow: 0.3rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.4rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.5rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.6rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.7rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.8rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.9rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.1rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.2rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.3rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.4rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.5rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.6rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.7rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.8rem 0.1rem 0 0 rgba(0, 0, 0, 1), 1.9rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.1rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.2rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.3rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.4rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.5rem 0.1rem 0 0 rgba(0, 0, 0, 1), 2.6rem 0.1rem 0 0 rgba(0, 0, 0, 1), 0.2rem 0.2rem 0 0 rgba(0, 0, 0, 1), 0.3rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.4rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.6rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.7rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.8rem 0.2rem 0 0 rgba(255, 255, 255, 1), 0.9rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.1rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.2rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.3rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.4rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.5rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.6rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.7rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.8rem 0.2rem 0 0 rgba(255, 255, 255, 1), 1.9rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.1rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.2rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.3rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.4rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.5rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.6rem 0.2rem 0 0 rgba(255, 255, 255, 1), 2.7rem 0.2rem 0 0 rgba(0, 0, 0, 1), 0.1rem 0.3rem 0 0 rgba(0, 0, 0, 1), 0.2rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.3rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.4rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.6rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.7rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.8rem 0.3rem 0 0 rgba(255, 255, 255, 1), 0.9rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.1rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.2rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.3rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.4rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.5rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.6rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.7rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.8rem 0.3rem 0 0 rgba(255, 255, 255, 1), 1.9rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.1rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.2rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.3rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.4rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.5rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.6rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.7rem 0.3rem 0 0 rgba(255, 255, 255, 1), 2.8rem 0.3rem 0 0 rgba(0, 0, 0, 1), 0.1rem 0.4rem 0 0 rgba(0, 0, 0, 1), 0.2rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.3rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.4rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.6rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.7rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.8rem 0.4rem 0 0 rgba(255, 255, 255, 1), 0.9rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.1rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.2rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.3rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.4rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.5rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.6rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.7rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.8rem 0.4rem 0 0 rgba(255, 255, 255, 1), 1.9rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.1rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.2rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.3rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.4rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.5rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.6rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.7rem 0.4rem 0 0 rgba(255, 255, 255, 1), 2.8rem 0.4rem 0 0 rgba(0, 0, 0, 1), 0.2rem 0.5rem 0 0 rgba(0, 0, 0, 1), 0.3rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.4rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.6rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.7rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.8rem 0.5rem 0 0 rgba(255, 255, 255, 1), 0.9rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.1rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.2rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.3rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.4rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.5rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.6rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.7rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.8rem 0.5rem 0 0 rgba(255, 255, 255, 1), 1.9rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.1rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.2rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.3rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.4rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.5rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.6rem 0.5rem 0 0 rgba(255, 255, 255, 1), 2.7rem 0.5rem 0 0 rgba(0, 0, 0, 1), 0.3rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.4rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.5rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.6rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.7rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.8rem 0.6rem 0 0 rgba(0, 0, 0, 1), 0.9rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.1rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.2rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.3rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.4rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.5rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.6rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.7rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.8rem 0.6rem 0 0 rgba(0, 0, 0, 1), 1.9rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.1rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.2rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.3rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.4rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.5rem 0.6rem 0 0 rgba(0, 0, 0, 1), 2.6rem 0.6rem 0 0 rgba(0, 0, 0, 1);
			height: 0.11625rem;
			width: 0.11625rem;
		}

		&:hover {
			.bg {
				box-shadow: 0.3rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.1rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.1rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.1rem 0 0 rgba(1, 255, 0, 1), 0.2rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.3rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.2rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.2rem 0 0 rgba(1, 255, 0, 1), 2.7rem 0.2rem 0 0 rgba(1, 255, 0, 1), 0.1rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.2rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.3rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.3rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.7rem 0.3rem 0 0 rgba(1, 255, 0, 1), 2.8rem 0.3rem 0 0 rgba(1, 255, 0, 1), 0.1rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.2rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.3rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.4rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.7rem 0.4rem 0 0 rgba(1, 255, 0, 1), 2.8rem 0.4rem 0 0 rgba(1, 255, 0, 1), 0.2rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.3rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.5rem 0 0 rgba(1, 255, 0, 1), 2.7rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.3rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.4rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.6rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.7rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.8rem 0.6rem 0 0 rgba(1, 255, 0, 1), 0.9rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.1rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.2rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.3rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.4rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.6rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.7rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.8rem 0.6rem 0 0 rgba(1, 255, 0, 1), 1.9rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.1rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.2rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.3rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.4rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.5rem 0.6rem 0 0 rgba(1, 255, 0, 1), 2.6rem 0.6rem 0 0 rgba(1, 255, 0, 1);
			}
		}
	}

	.title-rect-line {
		height: 0.3rem;

		.text {
			position: relative;
			line-height: 0.3rem;
			color: #01FF00;
			font-family: $ffontf;
			font-size: 0.2375rem;
			font-weight: 700;
			text-transform: uppercase;
			vertical-align: top;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0.0875rem;
				left: 109%;
				width: 0.1125rem;
				height: 0.1125rem;
				background-color: #FF006E;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0.14375rem;
				left: 110%;
				width: 12.5rem;
				height: 0.00625rem;
				background-color: #FFF;
			}
		}
	}

	.title-rect-line-red {
		height: 0.3rem;

		.text {
			position: relative;
			line-height: 0.3rem;
			color: #FF006E;
			font-family: $ffontf;
			font-size: 0.2375rem;
			font-weight: 700;
			text-transform: uppercase;
			vertical-align: top;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0.0875rem;
				left: 109%;
				width: 0.1125rem;
				height: 0.1125rem;
				background-color: #01FF00;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0.14375rem;
				left: 110%;
				width: 12.5rem;
				height: 0.00625rem;
				background-color: #FFF;
			}
		}
	}

	.title-rect-line-white {
		height: 0.3rem;

		.text {
			position: relative;
			line-height: 0.3rem;
			color: #FFF;
			font-family: $ffontf;
			font-size: 0.2375rem;
			font-weight: 700;
			text-transform: uppercase;
			vertical-align: top;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0.0875rem;
				left: 109%;
				width: 0.1125rem;
				height: 0.1125rem;
				background: #FF006E;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0.14375rem;
				left: 110%;
				width: 12.5rem;
				height: 0.00625rem;
				background-color: #FFF;
			}
		}
	}

	// banner
	.banner {
		background-color: #000;

		.content {
			position: relative;
			display: flex;
			width: $contetw;
			height: 3.84375rem;
			justify-content: space-between;
			margin: 0 auto;
			padding: 0.98rem 0 0.2rem;
		}

		.bg {
			position: absolute;
			width: 100%;
			height: 100%;

			.start {
				position: absolute;
				background-color: #fff;
				animation: blink 0.5s infinite;
			}

			.start:nth-child(1) {
				left: -0.6rem;
				top: 0.25rem;
				width: 0.03125rem;
				height: 0.03125rem;
			}

			.start:nth-child(2) {
				left: -0.925rem;
				top: 3.25rem;
				width: 0.03125rem;
				height: 0.03125rem;
			}

			.start:nth-child(3) {
				left: 1.54375rem;
				top: 2.54375rem;
				width: 0.01875rem;
				height: 0.01875rem;
			}

			.start:nth-child(4) {
				right: 2.91875rem;
				top: 2.55rem;
				width: 0.03125rem;
				height: 0.03125rem;
			}

			.start:nth-child(5) {
				right: 1.98125rem;
				top: -0.025rem;
				width: 0.03125rem;
				height: 0.03125rem;
			}

			.start:nth-child(6) {
				right: 0.58125rem;
				top: 3.44375rem;
				width: 0.01875rem;
				height: 0.01875rem;
			}

			.start:nth-child(7) {
				right: -0.7625rem;
				top: 0.85rem;
				width: 0.03125rem;
				height: 0.03125rem;
			}
		}

		.left {
			.title {
				width: 3.4375rem;
				height: 1.68125rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.4375rem;
				font-style: normal;
				font-weight: 700;
				line-height: 0.3375rem;
				text-transform: uppercase;
			}

			.link {
				position: relative;
				margin-top: 0.125rem;
				width: 2.5rem;
				height: 0.5rem;
				cursor: pointer;

				&::after {
					content: " ";
					position: absolute;
					right: 0;
					width: 0.3875rem;
					height: 0.3875rem;
					background: url(../../assets/index/g-y-right.svg) no-repeat;
					background-size: 0.3875rem;
				}

				.text {
					position: absolute;
					top: 0.03125rem;
					left: 0.40625rem;
					width: 1.4rem;
					z-index: 2;
					color: #000;
					font-family: $ffontf;
					font-size: 0.2rem;
					text-align: center;
					font-weight: 700;
					text-transform: uppercase;
				}

				.bg {
					position: absolute;
					left: -0.125rem;
					top: -0.125rem;
					box-shadow: 0.375rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.375rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.625rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.75rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 2rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.5rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.375rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.75rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 2rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.125rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.375rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.375rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.625rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.75rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.875rem 0.375rem 0 0 rgba(1, 255, 0, 1), 2rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.5rem 0 0 rgba(255, 0, 110, 1), 0.375rem 0.5rem 0 0 rgba(255, 0, 110, 1), 0.5rem 0.5rem 0 0 rgba(255, 0, 110, 1), 0.625rem 0.5rem 0 0 rgba(255, 0, 110, 1), 0.75rem 0.5rem 0 0 rgba(255, 0, 110, 1), 0.875rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.125rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.25rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.375rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.5rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.625rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.75rem 0.5rem 0 0 rgba(255, 0, 110, 1), 1.875rem 0.5rem 0 0 rgba(255, 0, 110, 1);
					height: 0.14125rem;
					width: 0.14125rem;
				}

				&:hover {
					.text {
						color: #fff;
					}

					.bg {
						box-shadow: 0.375rem 0.125rem 0 0 rgba(255, 0, 110, 1), 0.5rem 0.125rem 0 0 rgba(255, 0, 110, 1), 0.625rem 0.125rem 0 0 rgba(255, 0, 110, 1), 0.75rem 0.125rem 0 0 rgba(255, 0, 110, 1), 0.875rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.125rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.25rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.375rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.5rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.625rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.75rem 0.125rem 0 0 rgba(255, 0, 110, 1), 1.875rem 0.125rem 0 0 rgba(255, 0, 110, 1), 2rem 0.125rem 0 0 rgba(255, 0, 110, 1), 0.25rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.375rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.625rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.75rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.875rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.125rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.25rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.375rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.5rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.625rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.75rem 0.25rem 0 0 rgba(255, 0, 110, 1), 1.875rem 0.25rem 0 0 rgba(255, 0, 110, 1), 2rem 0.25rem 0 0 rgba(255, 0, 110, 1), 0.125rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.5rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.625rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.75rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.875rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.125rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.25rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.375rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.5rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.625rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.75rem 0.375rem 0 0 rgba(255, 0, 110, 1), 1.875rem 0.375rem 0 0 rgba(255, 0, 110, 1), 2rem 0.375rem 0 0 rgba(255, 0, 110, 1), 0.25rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.5rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.375rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.5rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.625rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.75rem 0.5rem 0 0 rgba(1, 255, 0, 1), 1.875rem 0.5rem 0 0 rgba(1, 255, 0, 1);
					}

					&::after {
						background: url(../../assets/index/r-y-right.svg) no-repeat;
					}
				}
			}

			.date {
				margin-top: 0.3125rem;
				position: relative;
				width: 2.4375rem;
				text-align: justify;
				text-align-last: justify;
				white-space: nowrap;

				&::before,
				&::after {
					content: " ";
					position: absolute;
					top: 0.15rem;
					width: 0.31875rem;
					height: 0.31875rem;
					background: url(../../assets/index/1-45.svg) no-repeat;
					background-size: 0.31875rem;
				}

				&::before {
					left: -0.44375rem;
				}

				&::after {
					right: -0.54375rem;
				}

				.time {
					color: #FFF;
					font-family: $ffontf;
					font-size: 0.18rem;
					font-style: normal;
					font-weight: 700;
					line-height: 0.29375rem;
				}

				.price {
					color: #01FF00;
					font-family: $ffontf;
					font-size: 0.2rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 0.0125rem;
					text-transform: uppercase;
				}
			}
		}

		.right {
			width: 3.8625rem;

			.sub-title {
				// margin:0 auto;
				// width: 2.5875rem;
				color: $green;
				font-family: $ffontf;
				font-size: 0.1875rem;
				font-style: normal;
				font-weight: 700;
				text-align: center;
				// text-align:justify;
				// text-align-last:justify;
			}

			.b-logo {
				position: relative;
				margin: 0.15rem auto 0;
				width: 2.8625rem;
				height: 2.7375rem;

				.symbol {
					position: absolute;
					top: -0.025rem;
					right: -0.4375rem;
					width: 0.5rem;
					height: 0.5rem;
					text-align: center;
					color: #000;
					font-family: $pfontf;
					font-size: 0.4rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					background: url(../../assets/index/logo-w-rect.svg);
					background-size: 0.5rem;
				}

				&::before {
					content: "?";
					position: absolute;
					bottom: 0.125rem;
					left: -0.09375rem;
					color: $green;
					font-family: $pfontf;
					font-size: 0.4rem;
					font-weight: 400;
				}

				&::after {
					content: "$";
					position: absolute;
					bottom: -0.5rem;
					right: 0.2rem;
					color: #FFF;
					font-family: $pfontf;
					font-size: 0.6rem;
					font-weight: 400;
				}
			}
		}
	}

	// our-mission
	.our-mission {
		position: relative;
		overflow: hidden;
		background: url(../../assets/index/red-rect.svg) no-repeat, url(../../assets/index/cricle.svg) no-repeat;
		background-size: 0.1375rem 0.1375rem, 1.4375rem 1.4375rem;
		background-position: calc(100% - 0.5rem) 3.8rem, 100% 3.84375rem;
		background-color: #0E0E0E;


		.line {
			position: absolute;
			left: 0;
			top: -1.24375rem;
			width: 2.10625rem;
			height: 7.76875rem;
			background: url(/src/assets/index/line-bg.svg) no-repeat;
			background-size: 2.10625rem 7.76875rem;
			transform: rotate(14deg);
		}

		.content {
			margin: 0.48125rem auto;
			width: $contetw;

			.overview {
				color: #01FF00;
				font-family: Frames Part One;
				font-size: 0.15rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
			}

			.list {
				margin-top: 0.4875rem;

				.item {
					display: flex;
					margin-bottom: 0.15rem;
					justify-content: space-between;
					padding-left: 0.70625rem;

					.title {
						position: relative;
						color: #01FF00;
						font-family: Frames Part One;
						font-size: 0.3rem;
						font-weight: 700;
						line-height: 0.425rem;

						&::before {
							content: "";
							position: absolute;
						}
					}

					.unite::before {
						top: 0;
						left: -0.70625rem;
						width: 0.4375rem;
						height: 0.4375rem;
						background: url(../../assets/index/g-y-down.svg) no-repeat;
						background-size: 0.4375rem;
					}

					.unlock::before {
						top: 0;
						left: -0.7125rem;
						width: 0.425rem;
						height: 0.425rem;
						background: url(../../assets/index/1-45.svg) no-repeat;
						background-size: 0.425rem;
					}

					.unleash::before {
						top: 0;
						left: -0.70625rem;
						width: 0.4375rem;
						height: 0.4375rem;
						background: url(../../assets/index/g-y-left.svg) no-repeat;
						background-size: 0.4375rem;
					}

					.desc {
						width: 4.9125rem;
						color: #FFF;
						font-family: PingFang SC;
						font-size: 0.125rem;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
		}
	}

	// university
	.university {
		overflow: hidden;
		background: url(/src/assets/index/green-rect.svg) no-repeat, url(/src/assets/index/d-rect.svg) no-repeat;
		background-size: 0.125rem 0.125rem, 1.375rem 1.375rem;
		background-position: 0.5625rem 4.9375rem, -0.375rem 4.375rem;
		background-color: #0E0E0E;

		.content {
			margin: 0.525rem auto 0;
			width: 7.0125rem;
		}

		.top-3 {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			width: 4.125rem;

			img {
				margin: 0.05rem;
				width: auto;
				max-width: 1.325rem;
				max-height: 0.7rem;
			}
		}

		.logo-list {
			display: flex;
			flex-wrap: wrap;
			// justify-content: space-between;
			margin: 0 auto;
			width: 8.2rem;

			img {
				margin: 0.1rem;
				width: auto;
				max-width: 1.325rem;
				max-height: 0.7rem;
			}
		}

		.w-g-link {
			margin: 0.525rem auto 0;
		}

		.hosts {
			margin-top: 0.31875rem;
			padding-left: 1.9375rem;
			height: 0.3rem;

			.hosts-text {
				position: relative;
				line-height: 0.3rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.28125rem;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;

				&::before {
					content: "";
					position: absolute;
					z-index: 1;
					top: 0.10625rem;
					left: 130%;
					width: 0.1125rem;
					height: 0.1125rem;
					background-color: #01FF00;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0.10625rem;
					left: 120%;
					width: 100vw;
					height: 0.1125rem;
					background-color: #3F3F3F;
				}
			}
		}

		.hosts-logo {
			display: flex;
			justify-content: space-between;
			margin: 0.3rem 0 0.4rem;

			.item {
				text-align: center;

				img {
					margin-top: 0.5rem;
					max-width: 1.1875rem;
					max-height: 0.34375rem;
				}

				/* .cbstrans {
					margin: 0.275rem auto 0;
				}

				.codnflux {
					margin: 0.375rem auto 0.13125rem;
				}

				.blocktech {
					margin: 0.18rem auto;
				} */

				>img:hover {
					transform: scale(1.15);
				}
			}

			.w-1 {
				width: 1.90625rem;
			}

			.w-2 {
				width: 2.425rem;
			}

			.w-3 {
				width: 2.20625rem;
			}

			.desc {
				margin-top: 0.18125rem;
				text-align: left;
				color: #FFF;
				font-family: PingFang SC;
				font-size: 0.125rem;
				font-style: normal;
				font-weight: 400;
				line-height: 0.15rem;
			}
		}
	}

	.hackathon {
		overflow: hidden;
		background: url(../../assets/index/red-rect.svg) no-repeat,
			url(../../assets/index/circle-2.svg) no-repeat,
			url(../../assets/index/white-rect.svg) no-repeat,
			url(../../assets/index/cricle.svg) no-repeat,
			url(../../assets/index/arrow.svg) no-repeat,
			url(../../assets/index/line-bg-2.svg) no-repeat,
			url(../../assets/index/1--45.svg) no-repeat,
			url(../../assets/index/1--45.svg) no-repeat,
			url(../../assets/index/d-rect-2.svg) no-repeat,
			url(../../assets/index/g-y-up.svg) no-repeat;
		background-size: 0.13125rem 0.13125rem, 1.75rem 1.75rem, 0.13125rem 0.13125rem, 1.75rem 1.75rem, 0.5125rem 0.5125rem, 3.3rem 7.91875rem, 0.31875rem 0.31875rem, 0.31875rem 0.31875rem, 1.375rem 1.375rem, 0.3375rem 0.3375rem;
		background-position: 0.3625rem 1.71875rem, -0.5625rem 1.4375rem,
			calc(100% - 1.3125rem) 2.25rem, 100% 1.4375rem, 1.08125rem 6.0625rem,
			-0.5rem 16.0625rem,
			0.625rem 16.5rem,
			0.6875rem 21.375rem,
			100% 17.5625rem,
			calc(100% - 0.9375rem) 17.25rem;
		background-color: #0E0E0E;

		.def {
			margin: 0.26875rem auto 0;
			width: 5.81875rem;

			.title {
				color: #FF006E;
				font-family: $ffontf;
				font-size: 0.15rem;
				font-style: normal;
				font-weight: 700;
				line-height: 0.3rem;
				text-transform: uppercase;
			}

			.desc {
				margin-top: 0.19375rem;
				color: #FFF;
				font-family: PingFang SC;
				font-size: 0.125rem;
				font-weight: 400;
			}
		}

		.categories-title {
			position: relative;
			box-sizing: border-box;
			margin: 0.3625rem auto 0;
			padding: 0 0.375rem;
			width: 5.625rem;
			color: #01FF00;
			font-family: $ffontf;
			font-size: 0.15rem;
			font-weight: 700;
			line-height: 0.3rem;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.3375rem;
				height: 0.3375rem;
			}

			&::before {
				left: -0.09375rem;
				background: url(../../assets/index/g-y-right.svg) no-repeat;
				background-size: 0.3375rem;
			}

			&::after {
				right: -0.85rem;
				background: url(../../assets/index/g-y-left.svg) no-repeat;
				background-size: 0.3375rem;
			}
		}

		.categories-title-red {
			position: relative;
			box-sizing: border-box;
			margin: 0.3625rem auto 0;
			padding: 0 0.375rem;
			width: 5.625rem;
			color: #FF006E;
			font-family: $ffontf;
			font-size: 0.1875rem;
			font-weight: 700;
			line-height: 0.3rem;
			text-transform: uppercase;
			white-space: nowrap;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.3375rem;
				height: 0.3375rem;
			}

			&::before {
				left: -0.09375rem;
				background: url(../../assets/index/r-y-right.svg) no-repeat;
				background-size: 0.3375rem;
			}

			&::after {
				right: 0.3rem;
				background: url(../../assets/index/r-y-left.svg) no-repeat;
				background-size: 0.3375rem;
			}
		}


		.categories-list {
			display: block;
			margin: 0.325rem auto 0;
			width: 5.2125rem;

			.item {
				position: relative;
				margin: 0.13125rem auto;
				padding-left: 0.2rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.15rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;

				&::before {
					content: "";
					position: absolute;
					left: -0.16875rem;
					width: 0.16875rem;
					height: 0.16875rem;
					background: url(../../assets/index/1-45.svg) no-repeat;
					background-size: 0.16875rem 0.16875rem;
				}
			}

			.decorator,
			.decorator-2 {
				position: relative;

				&::after {
					display: none;
					content: "";
					position: absolute;
					right: -0.2125rem;
					width: 0.16875rem;
					height: 0.16875rem;
					background: url(../../assets/index/1-45.svg) no-repeat;
					background-size: 0.16875rem 0.16875rem;
				}
			}

			.decorator-2 {
				&::after {
					display: none;
					right: -0.3rem;
				}
			}
		}

		.w-g-link {
			margin: 0.4625rem auto 0;
		}

		.content-w {
			width: 5.81875rem;
		}

		.title-rect-line {
			margin: 0.375rem auto 0;
		}

		.title-rect-line-red {
			margin: 0 auto;
		}

		.m-time-line {
			display: block;
			justify-content: center;
			margin: 0.86875rem auto 0.825rem;
			width: 3.5rem;

			.item {
				display: flex;
				// justify-content: space-between;
				width: 3.5rem;
				text-align: center;

				.b-f-text,
				.w-f-text {
					font-family: $ffontf;
				}

				.b-f-text {
					color: #000;
				}

				.w-f-text {
					color: #fff;
				}

				.w-p-text {
					color: #FFF;
					font-family: $pfontf;
				}

				.g-t-text {
					margin: auto 0;
					width: 0.65625rem;
					color: #01FF00;
					font-family: $ffontf;
					font-size: 0.125rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-transform: uppercase;
				}

				.item-top-heart {
					margin: auto 0 auto 0.5rem;
					width: 0.50625rem;
					height: 0.44375rem;
					background: url(./hackathon/assets/heart.svg) no-repeat;
					background-size: 0.50625rem 0.44375rem;
				}

				.item-bottom-win {
					margin: auto 0;
					width: 0.5375rem;
					height: 0.5375rem;
					background: url(./hackathon/assets/win.svg) no-repeat;
					background-size: 0.5375rem 0.5375rem;
				}

				.list {
					width: 1rem;
					color: #FFF;
					font-family: $ffontf;
					font-size: 0.125rem;
					font-style: normal;
					font-weight: 700;

					.title {
						margin: 0.01rem 0;
					}
				}
			}

			.green-pix-rear,
			.gray-rect-1,
			.gray-rect-2,
			.gray-rect-3,
			.green-pix-react,
			.red-rect {
				margin-right: 0.2rem;
				width: 1.2625rem;
				height: 0.85rem;
				font-size: 0.125rem;
				line-height: 0.85rem;
			}



			.green-pix-react {
				background: url(../../assets/index/gary-3-rect.svg) no-repeat;
				background-size: 0.1125rem;
				background-position: top center;
				background-color: #01FF00;
			}

			.green-pix-rear {
				background: #01FF00;
			}

			.gray-rect-1 {
				background: url(../../assets/index/green-rect.svg) no-repeat;
				background-size: 0.1125rem;
				background-position: top center;
				background-color: #3F3F3F;
				line-height: 0.1125rem;
				font-size: 0.1125rem;
				box-sizing: border-box;
				padding: 0.25rem 0;
			}

			.gray-rect-1-title {
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.125rem;
				font-style: normal;
				font-weight: 700;
				line-height: 0.85rem;
			}

			.gray-rect-2 {
				background: url(../../assets/index/gary-1-rect.svg) no-repeat;
				background-size: 0.1125rem;
				background-position: top center;
				background-color: #7C7C7C;
			}

			.gray-rect-3 {
				background: url(../../assets/index/gary-2-rect.svg) no-repeat;
				background-size: 0.1125rem;
				background-position: top center;
				background-color: #BFBFBF;
			}

			.gray-rect-3-title {
				margin: auto 0;
				width: 1rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.125rem;
				font-style: normal;
				font-weight: 700;
			}

			.red-rect {
				background: url(../../assets/index/green-rect.svg) no-repeat;
				background-size: 0.1125rem;
				background-position: top center;
				background-color: #FF006E;
			}

			.r-t-text {
				margin-right: 0.5rem;
				width: 0.49375rem;
				line-height: 0.85rem;
				color: #FF006E;
				font-family: $ffontf;
				font-size: 0.125rem;
				font-style: normal;
				font-weight: 700;
			}
		}

		.teams {
			margin: 0.41875rem auto 0;
			padding-left: 0.325rem;
			color: #FFF;
			font-family: PingFang SC;
			font-size: 0.125rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0.25rem;
			list-style: none;

			>li {
				position: relative;
				margin: 0.1rem 0;

				&::before {
					position: absolute;
					content: " ";
					top: 0.095rem;
					left: -0.15rem;
					width: 0.055rem;
					height: 0.055rem;
					background-color: #fff;
					border-radius: 50%;
				}
			}
		}

		.prizes {
			position: relative;
			margin: 0.375rem auto 0;
			width: 5.81875rem;
			height: 0.45rem;

			.text {
				position: absolute;
				z-index: 2;
				width: 3.9375rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.1875rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
			}

			.rear {
				position: absolute;
				top: 0.05rem;
				left: 3.7375rem;
				width: 1.95rem;
				height: 0.4875rem;
				background: url(./sponsors/assets/black-rect.svg) no-repeat,
					url(./sponsors/assets/black-rect.svg) no-repeat;
				background-size: 0.21875rem 0.21875rem, 0.1375rem 0.1375rem;
				background-position: 0 0, 1.83rem 0.16875rem;
				background-color: #01FF00;

				.rear-text {
					position: absolute;
					z-index: 2;
					top: -0.0275rem;
					left: 0.4375rem;
					width: 1.2rem;
					height: 0.4rem;
					color: #000;
					text-align: center;
					font-family: $ffontf;
					font-size: 0.1875rem;
					font-style: normal;
					font-weight: 700;
					text-transform: uppercase;
				}
			}

		}

		.join {
			margin: 0.3875rem auto 0.54375rem;

			.inner-box {
				position: relative;
				width: 5.58rem;
				height: 0.225rem;
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.1875rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.0.01875rem;
				text-transform: uppercase;
				cursor: pointer;
				white-space: nowrap;

				&:hover {
					color: #01FF00;
				}

				.link {
					position: absolute;
					top: 0.0625rem;
					right: -0.2rem;
					display: inline-block;
					width: 0.15rem;
					height: 0.15rem;
					border-radius: 50%;
					background-color: #0F0;

					>img {
						margin: 0.0205rem 0 0 0.0225rem;
						width: 0.1125rem;
						height: auto;
						vertical-align: top;
					}
				}
			}
		}
	}

	.speakers {
		background: url(/src/assets/index/cricle.svg) no-repeat;
		background-size: 3.15625rem 3.15625rem;
		background-position: 100% 0.6875rem;
		overflow: hidden;
		background-color: #0E0E0E;

		.content {
			display: flex;
			flex-wrap: wrap;
			// justify-content: space-between;
			margin: 0.3875rem auto 0.3rem;
			width: 7.5rem;

			.item {
				position: relative;
				margin: 0.1375rem 0.125rem;
				width: 1.1875rem;
				height: 1.78125rem;
				box-sizing: border-box;
				background-color: #01FF00;
				cursor: pointer;

				.img {
					position: relative;
					text-align: center;
					width: 1.1875rem;
					height: 1.35rem;

					>img {
						margin: 0.05rem;
						width: 1.0875rem;
						max-height: 1.25rem;
						object-fit: cover;
					}

					&::before {
						content: "!";
						position: absolute;
						right: 0.025rem;
						top: 0.025rem;
						width: 0.1375rem;
						height: 0.1375rem;
						line-height: 0.1375rem;
						font-size: 0.1125rem;
						background: url(../../assets/index/logo-w-rect.svg) no-repeat;
						background-size: 0.1375rem 0.1375rem;
					}

					&::after {
						content: "";
						position: absolute;
						z-index: 2;
						right: 0;
						bottom: -0.1875rem;
						width: 0.4375rem;
						height: 0.4375rem;
						background: url(./speakers/assest/logo.svg) no-repeat;
						background-size: 0.3375rem 0.3375rem;
						background-position: 0.075rem 0.025rem;
						background-color: #101010;
					}

					.mask {
						display: none;
						position: absolute;
						z-index: 2;
						width: 100%;
						height: 100%;
						background: url(./speakers/assest/x.svg) no-repeat;
						background-size: 0.6rem 0.64375rem;
						background-position: center center;
						background-color: rgba(1, 255, 0, 0.70);
					}
				}

				&:hover {
					.mask {
						display: block;
					}
				}

				.bottom {
					position: absolute;
					left: -0.0125rem;
					z-index: 3;
					bottom: 0;
					width: 0.9625rem;
					height: 0.4375rem;
					background: #101010;

					.name {
						margin: 0.025rem 0 0 0.05rem;
						color: #FFF;
						font-family: $ffontf;
						font-size: 0.1125rem;
						font-weight: 500;
						line-height: 0.2375rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.desc {
						margin-left: 0.05rem;
						color: #FFF;
						font-family: $ffontf;
						font-size: 0.075rem;
						font-weight: 400;
						line-height: 0.15rem;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}

	.sponsors {
		background: url(../../assets/index/circle-2.svg) no-repeat, url(../../assets/index/circle-2.svg) no-repeat, url(../../assets/index/line-bg.svg) no-repeat;
		background-size: 3.15625rem 3.15625rem, 3.15625rem 3.15625rem, 2.10625rem 7.76875rem;
		background-position: 0 1.9875rem, 0 2.525rem, 100% 5.4875rem;
		background-color: #0E0E0E;
		overflow: hidden;

		.content {
			margin-top: 0.375rem;
		}

		.section {
			margin: 0 auto;
			width: 6.875rem;
			padding-bottom: 0.125rem;

			.inner-box {
				background: url(./sponsors/assets/black-rect.svg) no-repeat,
					url(./sponsors/assets/black-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem,
					0.175rem 0.175rem;
				background-position:
					6.70625rem -0.00625rem,
					6.525rem 0.175rem;
				clip-path: polygon(0 0.2rem, 1.2875rem 0.2rem, 1.2875rem 0, 100% 0, 100% 100%, 0 100%);
			}

			.title {
				position: absolute;
				font-family: $ffontf;
				font-size: 0.2rem;
				font-weight: 700;
				line-height: 0.2rem;
				text-transform: uppercase;
			}

			.logos {
				>a:hover {
					transform: scale(1.15);
				}
			}
		}

		.unleasher {
			position: relative;

			.inner-box {
				background-color: #FF006E;
			}

			.title {
				position: absolute;
				color: #FF006E;

				&::before {
					content: "";
					position: absolute;
					top: -0.16875rem;
					left: 1.1125rem;
					width: 0.175rem;
					height: 0.175rem;
					background: url(../../assets/index/red-rect.svg) no-repeat;
					background-size: 0.175rem 0.175rem;
				}
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.175rem;
				height: 0.175rem;
				background: url(../../assets/index/red-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem;
			}

			&::before {
				top: -0.16875rem;
				right: 0;
			}

			&::after {
				bottom: -0.0375rem;
				right: 0;
			}

			.logos {
				display: flex;
				justify-content: space-between;
				margin: 0 auto;
				padding: 0.375rem 0;
				width: 4.5rem;

				img {
					margin: 0.4rem 0 0.3rem;
					max-width: 1.1875rem;
					max-height: 0.34375rem;
				}
			}
		}

		.uniter {
			margin-top: -0.05625rem;
			position: relative;

			.inner-box {
				background-color: #BFBFBF;
			}

			.title {
				color: #BFBFBF;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.175rem;
				height: 0.175rem;
			}

			&::before {
				top: -0.16875rem;
				left: 1.1125rem;
				background: url(./sponsors/assets/gray-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem;
			}

			&::after {
				bottom: 0.05rem;
				right: 0;
				background: url(./sponsors/assets/gray-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem;
			}

			.logos {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 0.1rem auto;
				padding: 0.3375rem 0 0.375rem;
				width: 4.5rem;

				a {
					display: inline-block;
					height: 0.74375rem;
				}

				img {
					margin: 0.2rem 0;
					max-width: 1.1875rem;
					max-height: 0.34375rem;
				}

				.newtribe {
					margin: 0.3rem 0 0 0;
				}

				/* .arab {
					padding: 0.125rem 0;
				}

				.logotxt {
					padding: 0.275rem 0;
				}

				.goledo {
					.text {
						display: inline-block;
						margin-top: 0.3rem;
						vertical-align: top;
						color: #000;
						font-family: Montserrat;
						font-size: 0.125rem;
						font-style: normal;
						font-weight: 600;
					}

					&:hover {
						transform: scale(1.15);
					}
				} */
			}
		}

		.usher {
			margin-top: -0.15625rem;
			position: relative;

			.inner-box {
				background-color: #01FF00;
			}

			.title {
				color: #01FF00;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 0.175rem;
				height: 0.175rem;
			}

			&::before {
				top: -0.16875rem;
				left: 1.1125rem;
				background: url(./sponsors/assets/green-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem;
			}

			&::after {
				bottom: 0.05rem;
				right: 0;
				background: url(./sponsors/assets/green-rect.svg) no-repeat;
				background-size: 0.175rem 0.175rem;
			}

			.logos {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 0.1rem auto;
				padding: 0.375rem 0;
				width: 4.625rem;

				img {
					margin: 0.15rem 0;
					max-width: 1.1875rem;
					max-height: 0.34375rem;
				}
			}
		}


		.title-rect-line-white {
			margin: 0.575rem auto 0;
			width: 6.875rem;
		}

		.bottom-logos {
			display: flex;
			// justify-content: space-between;
			margin: 0.675rem auto;
			width: 7.875rem;
			line-height: 0.775rem;

			img {
				margin: 0.1875rem 0.15rem;
				width: 1.625rem;
				height: 0.375rem;
			}

			>a:hover {
				transform: scale(1.15);
			}

			/* .CAMBRIDGE {
				width: 1.1625rem;
			}

			.MPOST {
				padding: 0.15rem 0;
			}

			.BlockBooster {
				padding: 0.175rem 0;
			} */
		}
	}

	.faq {
		overflow: hidden;
		background-color: #0E0E0E;

		.list {
			margin: 0.4375rem auto 0.6875rem;
			width: 6.4rem;

			.ant-collapse-header {
				color: #FFF;
				line-height: 0.30625rem;
				padding: 0.075rem 0.1rem;

				.ant-collapse-expand-icon {
					position: absolute;
					right: 0;
					width: 0.30625rem;
					height: 0.30625rem;
					line-height: 0.30625rem;
					border: 1px solid #FFF;

					.ant-collapse-arrow {
						margin: 0 0.0875rem;
						font-size: 0.125rem;
					}
				}

				&:hover {

					.ant-collapse-header,
					.ant-collapse-arrow {
						color: #01FF00;
					}

					.ant-collapse-expand-icon {
						border: 1px solid #01FF00;
					}
				}
			}

			.ant-collapse-item-active {

				.ant-collapse-header,
				.ant-collapse-arrow {
					color: #01FF00;
				}

				.ant-collapse-expand-icon {
					border: 1px solid #01FF00;
				}
			}

			.ant-collapse-header-text {
				color: #FFF;
				font-family: $ffontf;
				font-size: 0.15rem;
				font-style: normal;
				font-weight: 700;
				line-height: 0.30625rem !important;
			}

			.ant-collapse-content>.ant-collapse-content-box {
				color: #01FF00;
				font-family: PingFang SC;
				font-size: 0.125rem;
				font-style: normal;
				font-weight: 400;
				line-height: 0.2125rem;
			}
		}
	}

}