$ffontf: Frames Part One;
$pfontf: Pixel Countdown;

.agenda {
  padding-top: 88px;
  overflow-x: hidden;

  .list {
    margin: 20px auto 110px;
    width: 1100px;

    .warp-item {
      line-height: 38px;
    }

    .ant-collapse-header {
      display: block;
      color: #FFF;
      line-height: 49px;

      .ant-collapse-expand-icon {
        position: absolute;
        left: 340px;
        width: 49px;
        height: 49px;
        line-height: 49px;
        border: 1px solid #FFF;

        .ant-collapse-arrow {
          margin: 0 14px;
          font-size: 20px;
        }
      }

      &:hover {

        .ant-collapse-header,
        .ant-collapse-arrow {
          color: #01FF00;
        }

        .ant-collapse-expand-icon {
          border: 1px solid #01FF00;
        }
      }
    }

    .ant-collapse-item-active {

      .ant-collapse-header,
      .ant-collapse-arrow {
        color: #01FF00;
      }

      .ant-collapse-expand-icon {
        border: 1px solid #01FF00;
      }
    }

    .ant-collapse-header-text {
      position: relative;
      display: block;
      margin-left: 140px;
      width: 160px;
      color: #01FF00;
      font-family: $ffontf;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 49px !important;

      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 260px;
        width: 2400px;
        height: 1px;
        background-color: #FFF;
      }
    }

  }

  .box {
    margin-top: 35px;
    display: flex;

    .left {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      width: 158px;
      text-align: center;
      color: #000;
      font-family: $ffontf;
      font-size: 30px;
      background-color: #01FF00;
    }

    .right {
      width: 937px;
      box-sizing: border-box;
      border: 1px solid #FFF;
      border-left: none;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      // height: 70px;
      border-bottom: 1px solid #FFF;

      .text {
        flex: 1;
        color: #FFF;
        font-family: $ffontf;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
      }

      .time {
        margin-left: 40px;
        font-family: PingFang SC;
        font-size: 20px;
        color: #01FF00;
      }
    }

    .content {
      box-sizing: border-box;
      border-bottom: 1px solid #FFF;
      padding: 16px 24px 24px;

      .desc {
        color: #FFF;
        font-family: PingFang SC;
        font-size: 20px;
      }

      .links {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        font-size: 20px;
        // background: url(./assets/rect.svg) no-repeat, url(./assets/rect.svg) no-repeat;
        // background-size: 12px 12px, 12px 12px;
        // background-position: 26% center, 62% center;
        .person {
          width: 220px;
        }

        .info {
          width: 170px;
        }

        .rect {
          width: 12px;
          height: 12px;
        }

        .recording {
          color: #01FF00;
        }
      }



    }

    .inner-box {

      &:last-of-type {
        .content {
          border-bottom: none;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 35px;
    }

  }


  .w-link {
    position: relative;
    width: 200px;
    height: 60px;
    cursor: pointer;

    .text {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #000;
      font-family: $ffontf;
      font-size: 22px;
      font-weight: 700;

    }


    .bg {
      position: absolute;
      left: -11px;
      top: -11px;
      box-shadow: 30px 10px 0 0 rgba(0, 0, 0, 1), 40px 10px 0 0 rgba(0, 0, 0, 1), 50px 10px 0 0 rgba(0, 0, 0, 1), 60px 10px 0 0 rgba(0, 0, 0, 1), 70px 10px 0 0 rgba(0, 0, 0, 1), 80px 10px 0 0 rgba(0, 0, 0, 1), 90px 10px 0 0 rgba(0, 0, 0, 1), 100px 10px 0 0 rgba(0, 0, 0, 1), 110px 10px 0 0 rgba(0, 0, 0, 1), 120px 10px 0 0 rgba(0, 0, 0, 1), 130px 10px 0 0 rgba(0, 0, 0, 1), 140px 10px 0 0 rgba(0, 0, 0, 1), 150px 10px 0 0 rgba(0, 0, 0, 1), 160px 10px 0 0 rgba(0, 0, 0, 1), 170px 10px 0 0 rgba(0, 0, 0, 1), 180px 10px 0 0 rgba(0, 0, 0, 1), 20px 20px 0 0 rgba(0, 0, 0, 1), 30px 20px 0 0 rgba(255, 255, 255, 1), 40px 20px 0 0 rgba(255, 255, 255, 1), 50px 20px 0 0 rgba(255, 255, 255, 1), 60px 20px 0 0 rgba(255, 255, 255, 1), 70px 20px 0 0 rgba(255, 255, 255, 1), 80px 20px 0 0 rgba(255, 255, 255, 1), 90px 20px 0 0 rgba(255, 255, 255, 1), 100px 20px 0 0 rgba(255, 255, 255, 1), 110px 20px 0 0 rgba(255, 255, 255, 1), 120px 20px 0 0 rgba(255, 255, 255, 1), 130px 20px 0 0 rgba(255, 255, 255, 1), 140px 20px 0 0 rgba(255, 255, 255, 1), 150px 20px 0 0 rgba(255, 255, 255, 1), 160px 20px 0 0 rgba(255, 255, 255, 1), 170px 20px 0 0 rgba(255, 255, 255, 1), 180px 20px 0 0 rgba(255, 255, 255, 1), 190px 20px 0 0 rgba(0, 0, 0, 1), 10px 30px 0 0 rgba(0, 0, 0, 1), 20px 30px 0 0 rgba(255, 255, 255, 1), 30px 30px 0 0 rgba(255, 255, 255, 1), 40px 30px 0 0 rgba(255, 255, 255, 1), 50px 30px 0 0 rgba(255, 255, 255, 1), 60px 30px 0 0 rgba(255, 255, 255, 1), 70px 30px 0 0 rgba(255, 255, 255, 1), 80px 30px 0 0 rgba(255, 255, 255, 1), 90px 30px 0 0 rgba(255, 255, 255, 1), 100px 30px 0 0 rgba(255, 255, 255, 1), 110px 30px 0 0 rgba(255, 255, 255, 1), 120px 30px 0 0 rgba(255, 255, 255, 1), 130px 30px 0 0 rgba(255, 255, 255, 1), 140px 30px 0 0 rgba(255, 255, 255, 1), 150px 30px 0 0 rgba(255, 255, 255, 1), 160px 30px 0 0 rgba(255, 255, 255, 1), 170px 30px 0 0 rgba(255, 255, 255, 1), 180px 30px 0 0 rgba(255, 255, 255, 1), 190px 30px 0 0 rgba(255, 255, 255, 1), 200px 30px 0 0 rgba(0, 0, 0, 1), 10px 40px 0 0 rgba(0, 0, 0, 1), 20px 40px 0 0 rgba(255, 255, 255, 1), 30px 40px 0 0 rgba(255, 255, 255, 1), 40px 40px 0 0 rgba(255, 255, 255, 1), 50px 40px 0 0 rgba(255, 255, 255, 1), 60px 40px 0 0 rgba(255, 255, 255, 1), 70px 40px 0 0 rgba(255, 255, 255, 1), 80px 40px 0 0 rgba(255, 255, 255, 1), 90px 40px 0 0 rgba(255, 255, 255, 1), 100px 40px 0 0 rgba(255, 255, 255, 1), 110px 40px 0 0 rgba(255, 255, 255, 1), 120px 40px 0 0 rgba(255, 255, 255, 1), 130px 40px 0 0 rgba(255, 255, 255, 1), 140px 40px 0 0 rgba(255, 255, 255, 1), 150px 40px 0 0 rgba(255, 255, 255, 1), 160px 40px 0 0 rgba(255, 255, 255, 1), 170px 40px 0 0 rgba(255, 255, 255, 1), 180px 40px 0 0 rgba(255, 255, 255, 1), 190px 40px 0 0 rgba(255, 255, 255, 1), 200px 40px 0 0 rgba(0, 0, 0, 1), 20px 50px 0 0 rgba(0, 0, 0, 1), 30px 50px 0 0 rgba(255, 255, 255, 1), 40px 50px 0 0 rgba(255, 255, 255, 1), 50px 50px 0 0 rgba(255, 255, 255, 1), 60px 50px 0 0 rgba(255, 255, 255, 1), 70px 50px 0 0 rgba(255, 255, 255, 1), 80px 50px 0 0 rgba(255, 255, 255, 1), 90px 50px 0 0 rgba(255, 255, 255, 1), 100px 50px 0 0 rgba(255, 255, 255, 1), 110px 50px 0 0 rgba(255, 255, 255, 1), 120px 50px 0 0 rgba(255, 255, 255, 1), 130px 50px 0 0 rgba(255, 255, 255, 1), 140px 50px 0 0 rgba(255, 255, 255, 1), 150px 50px 0 0 rgba(255, 255, 255, 1), 160px 50px 0 0 rgba(255, 255, 255, 1), 170px 50px 0 0 rgba(255, 255, 255, 1), 180px 50px 0 0 rgba(255, 255, 255, 1), 190px 50px 0 0 rgba(0, 0, 0, 1), 30px 60px 0 0 rgba(0, 0, 0, 1), 40px 60px 0 0 rgba(0, 0, 0, 1), 50px 60px 0 0 rgba(0, 0, 0, 1), 60px 60px 0 0 rgba(0, 0, 0, 1), 70px 60px 0 0 rgba(0, 0, 0, 1), 80px 60px 0 0 rgba(0, 0, 0, 1), 90px 60px 0 0 rgba(0, 0, 0, 1), 100px 60px 0 0 rgba(0, 0, 0, 1), 110px 60px 0 0 rgba(0, 0, 0, 1), 120px 60px 0 0 rgba(0, 0, 0, 1), 130px 60px 0 0 rgba(0, 0, 0, 1), 140px 60px 0 0 rgba(0, 0, 0, 1), 150px 60px 0 0 rgba(0, 0, 0, 1), 160px 60px 0 0 rgba(0, 0, 0, 1), 170px 60px 0 0 rgba(0, 0, 0, 1), 180px 60px 0 0 rgba(0, 0, 0, 1);
      height: 11px;
      width: 11px;
    }

    &:hover {
      .bg {
        box-shadow: 30px 10px 0 0 rgba(1, 255, 0, 1), 40px 10px 0 0 rgba(1, 255, 0, 1), 50px 10px 0 0 rgba(1, 255, 0, 1), 60px 10px 0 0 rgba(1, 255, 0, 1), 70px 10px 0 0 rgba(1, 255, 0, 1), 80px 10px 0 0 rgba(1, 255, 0, 1), 90px 10px 0 0 rgba(1, 255, 0, 1), 100px 10px 0 0 rgba(1, 255, 0, 1), 110px 10px 0 0 rgba(1, 255, 0, 1), 120px 10px 0 0 rgba(1, 255, 0, 1), 130px 10px 0 0 rgba(1, 255, 0, 1), 140px 10px 0 0 rgba(1, 255, 0, 1), 150px 10px 0 0 rgba(1, 255, 0, 1), 160px 10px 0 0 rgba(1, 255, 0, 1), 170px 10px 0 0 rgba(1, 255, 0, 1), 180px 10px 0 0 rgba(1, 255, 0, 1), 20px 20px 0 0 rgba(1, 255, 0, 1), 30px 20px 0 0 rgba(1, 255, 0, 1), 40px 20px 0 0 rgba(1, 255, 0, 1), 50px 20px 0 0 rgba(1, 255, 0, 1), 60px 20px 0 0 rgba(1, 255, 0, 1), 70px 20px 0 0 rgba(1, 255, 0, 1), 80px 20px 0 0 rgba(1, 255, 0, 1), 90px 20px 0 0 rgba(1, 255, 0, 1), 100px 20px 0 0 rgba(1, 255, 0, 1), 110px 20px 0 0 rgba(1, 255, 0, 1), 120px 20px 0 0 rgba(1, 255, 0, 1), 130px 20px 0 0 rgba(1, 255, 0, 1), 140px 20px 0 0 rgba(1, 255, 0, 1), 150px 20px 0 0 rgba(1, 255, 0, 1), 160px 20px 0 0 rgba(1, 255, 0, 1), 170px 20px 0 0 rgba(1, 255, 0, 1), 180px 20px 0 0 rgba(1, 255, 0, 1), 190px 20px 0 0 rgba(1, 255, 0, 1), 10px 30px 0 0 rgba(1, 255, 0, 1), 20px 30px 0 0 rgba(1, 255, 0, 1), 30px 30px 0 0 rgba(1, 255, 0, 1), 40px 30px 0 0 rgba(1, 255, 0, 1), 50px 30px 0 0 rgba(1, 255, 0, 1), 60px 30px 0 0 rgba(1, 255, 0, 1), 70px 30px 0 0 rgba(1, 255, 0, 1), 80px 30px 0 0 rgba(1, 255, 0, 1), 90px 30px 0 0 rgba(1, 255, 0, 1), 100px 30px 0 0 rgba(1, 255, 0, 1), 110px 30px 0 0 rgba(1, 255, 0, 1), 120px 30px 0 0 rgba(1, 255, 0, 1), 130px 30px 0 0 rgba(1, 255, 0, 1), 140px 30px 0 0 rgba(1, 255, 0, 1), 150px 30px 0 0 rgba(1, 255, 0, 1), 160px 30px 0 0 rgba(1, 255, 0, 1), 170px 30px 0 0 rgba(1, 255, 0, 1), 180px 30px 0 0 rgba(1, 255, 0, 1), 190px 30px 0 0 rgba(1, 255, 0, 1), 200px 30px 0 0 rgba(1, 255, 0, 1), 10px 40px 0 0 rgba(1, 255, 0, 1), 20px 40px 0 0 rgba(1, 255, 0, 1), 30px 40px 0 0 rgba(1, 255, 0, 1), 40px 40px 0 0 rgba(1, 255, 0, 1), 50px 40px 0 0 rgba(1, 255, 0, 1), 60px 40px 0 0 rgba(1, 255, 0, 1), 70px 40px 0 0 rgba(1, 255, 0, 1), 80px 40px 0 0 rgba(1, 255, 0, 1), 90px 40px 0 0 rgba(1, 255, 0, 1), 100px 40px 0 0 rgba(1, 255, 0, 1), 110px 40px 0 0 rgba(1, 255, 0, 1), 120px 40px 0 0 rgba(1, 255, 0, 1), 130px 40px 0 0 rgba(1, 255, 0, 1), 140px 40px 0 0 rgba(1, 255, 0, 1), 150px 40px 0 0 rgba(1, 255, 0, 1), 160px 40px 0 0 rgba(1, 255, 0, 1), 170px 40px 0 0 rgba(1, 255, 0, 1), 180px 40px 0 0 rgba(1, 255, 0, 1), 190px 40px 0 0 rgba(1, 255, 0, 1), 200px 40px 0 0 rgba(1, 255, 0, 1), 20px 50px 0 0 rgba(1, 255, 0, 1), 30px 50px 0 0 rgba(1, 255, 0, 1), 40px 50px 0 0 rgba(1, 255, 0, 1), 50px 50px 0 0 rgba(1, 255, 0, 1), 60px 50px 0 0 rgba(1, 255, 0, 1), 70px 50px 0 0 rgba(1, 255, 0, 1), 80px 50px 0 0 rgba(1, 255, 0, 1), 90px 50px 0 0 rgba(1, 255, 0, 1), 100px 50px 0 0 rgba(1, 255, 0, 1), 110px 50px 0 0 rgba(1, 255, 0, 1), 120px 50px 0 0 rgba(1, 255, 0, 1), 130px 50px 0 0 rgba(1, 255, 0, 1), 140px 50px 0 0 rgba(1, 255, 0, 1), 150px 50px 0 0 rgba(1, 255, 0, 1), 160px 50px 0 0 rgba(1, 255, 0, 1), 170px 50px 0 0 rgba(1, 255, 0, 1), 180px 50px 0 0 rgba(1, 255, 0, 1), 190px 50px 0 0 rgba(1, 255, 0, 1), 30px 60px 0 0 rgba(1, 255, 0, 1), 40px 60px 0 0 rgba(1, 255, 0, 1), 50px 60px 0 0 rgba(1, 255, 0, 1), 60px 60px 0 0 rgba(1, 255, 0, 1), 70px 60px 0 0 rgba(1, 255, 0, 1), 80px 60px 0 0 rgba(1, 255, 0, 1), 90px 60px 0 0 rgba(1, 255, 0, 1), 100px 60px 0 0 rgba(1, 255, 0, 1), 110px 60px 0 0 rgba(1, 255, 0, 1), 120px 60px 0 0 rgba(1, 255, 0, 1), 130px 60px 0 0 rgba(1, 255, 0, 1), 140px 60px 0 0 rgba(1, 255, 0, 1), 150px 60px 0 0 rgba(1, 255, 0, 1), 160px 60px 0 0 rgba(1, 255, 0, 1), 170px 60px 0 0 rgba(1, 255, 0, 1), 180px 60px 0 0 rgba(1, 255, 0, 1);
      }
    }


    &-disabled {
      cursor: not-allowed;

      .text {
        color: #898989;
      }

      .bg {
        box-shadow: 30px 10px 0 0 #898989, 40px 10px 0 0 #898989, 50px 10px 0 0 #898989, 60px 10px 0 0 #898989, 70px 10px 0 0 #898989, 80px 10px 0 0 #898989, 90px 10px 0 0 #898989, 100px 10px 0 0 #898989, 110px 10px 0 0 #898989, 120px 10px 0 0 #898989, 130px 10px 0 0 #898989, 140px 10px 0 0 #898989, 150px 10px 0 0 #898989, 160px 10px 0 0 #898989, 170px 10px 0 0 #898989, 180px 10px 0 0 #898989, 20px 20px 0 0 #898989, 30px 20px 0 0 #DADADA, 40px 20px 0 0 #DADADA, 50px 20px 0 0 #DADADA, 60px 20px 0 0 #DADADA, 70px 20px 0 0 #DADADA, 80px 20px 0 0 #DADADA, 90px 20px 0 0 #DADADA, 100px 20px 0 0 #DADADA, 110px 20px 0 0 #DADADA, 120px 20px 0 0 #DADADA, 130px 20px 0 0 #DADADA, 140px 20px 0 0 #DADADA, 150px 20px 0 0 #DADADA, 160px 20px 0 0 #DADADA, 170px 20px 0 0 #DADADA, 180px 20px 0 0 #DADADA, 190px 20px 0 0 #898989, 10px 30px 0 0 #898989, 20px 30px 0 0 #DADADA, 30px 30px 0 0 #DADADA, 40px 30px 0 0 #DADADA, 50px 30px 0 0 #DADADA, 60px 30px 0 0 #DADADA, 70px 30px 0 0 #DADADA, 80px 30px 0 0 #DADADA, 90px 30px 0 0 #DADADA, 100px 30px 0 0 #DADADA, 110px 30px 0 0 #DADADA, 120px 30px 0 0 #DADADA, 130px 30px 0 0 #DADADA, 140px 30px 0 0 #DADADA, 150px 30px 0 0 #DADADA, 160px 30px 0 0 #DADADA, 170px 30px 0 0 #DADADA, 180px 30px 0 0 #DADADA, 190px 30px 0 0 #DADADA, 200px 30px 0 0 #898989, 10px 40px 0 0 #898989, 20px 40px 0 0 #DADADA, 30px 40px 0 0 #DADADA, 40px 40px 0 0 #DADADA, 50px 40px 0 0 #DADADA, 60px 40px 0 0 #DADADA, 70px 40px 0 0 #DADADA, 80px 40px 0 0 #DADADA, 90px 40px 0 0 #DADADA, 100px 40px 0 0 #DADADA, 110px 40px 0 0 #DADADA, 120px 40px 0 0 #DADADA, 130px 40px 0 0 #DADADA, 140px 40px 0 0 #DADADA, 150px 40px 0 0 #DADADA, 160px 40px 0 0 #DADADA, 170px 40px 0 0 #DADADA, 180px 40px 0 0 #DADADA, 190px 40px 0 0 #DADADA, 200px 40px 0 0 #898989, 20px 50px 0 0 #898989, 30px 50px 0 0 #DADADA, 40px 50px 0 0 #DADADA, 50px 50px 0 0 #DADADA, 60px 50px 0 0 #DADADA, 70px 50px 0 0 #DADADA, 80px 50px 0 0 #DADADA, 90px 50px 0 0 #DADADA, 100px 50px 0 0 #DADADA, 110px 50px 0 0 #DADADA, 120px 50px 0 0 #DADADA, 130px 50px 0 0 #DADADA, 140px 50px 0 0 #DADADA, 150px 50px 0 0 #DADADA, 160px 50px 0 0 #DADADA, 170px 50px 0 0 #DADADA, 180px 50px 0 0 #DADADA, 190px 50px 0 0 #898989, 30px 60px 0 0 #898989, 40px 60px 0 0 #898989, 50px 60px 0 0 #898989, 60px 60px 0 0 #898989, 70px 60px 0 0 #898989, 80px 60px 0 0 #898989, 90px 60px 0 0 #898989, 100px 60px 0 0 #898989, 110px 60px 0 0 #898989, 120px 60px 0 0 #898989, 130px 60px 0 0 #898989, 140px 60px 0 0 #898989, 150px 60px 0 0 #898989, 160px 60px 0 0 #898989, 170px 60px 0 0 #898989, 180px 60px 0 0 #898989;
      }

      &:hover {
        .bg {
          box-shadow: 30px 10px 0 0 #898989, 40px 10px 0 0 #898989, 50px 10px 0 0 #898989, 60px 10px 0 0 #898989, 70px 10px 0 0 #898989, 80px 10px 0 0 #898989, 90px 10px 0 0 #898989, 100px 10px 0 0 #898989, 110px 10px 0 0 #898989, 120px 10px 0 0 #898989, 130px 10px 0 0 #898989, 140px 10px 0 0 #898989, 150px 10px 0 0 #898989, 160px 10px 0 0 #898989, 170px 10px 0 0 #898989, 180px 10px 0 0 #898989, 20px 20px 0 0 #898989, 30px 20px 0 0 #DADADA, 40px 20px 0 0 #DADADA, 50px 20px 0 0 #DADADA, 60px 20px 0 0 #DADADA, 70px 20px 0 0 #DADADA, 80px 20px 0 0 #DADADA, 90px 20px 0 0 #DADADA, 100px 20px 0 0 #DADADA, 110px 20px 0 0 #DADADA, 120px 20px 0 0 #DADADA, 130px 20px 0 0 #DADADA, 140px 20px 0 0 #DADADA, 150px 20px 0 0 #DADADA, 160px 20px 0 0 #DADADA, 170px 20px 0 0 #DADADA, 180px 20px 0 0 #DADADA, 190px 20px 0 0 #898989, 10px 30px 0 0 #898989, 20px 30px 0 0 #DADADA, 30px 30px 0 0 #DADADA, 40px 30px 0 0 #DADADA, 50px 30px 0 0 #DADADA, 60px 30px 0 0 #DADADA, 70px 30px 0 0 #DADADA, 80px 30px 0 0 #DADADA, 90px 30px 0 0 #DADADA, 100px 30px 0 0 #DADADA, 110px 30px 0 0 #DADADA, 120px 30px 0 0 #DADADA, 130px 30px 0 0 #DADADA, 140px 30px 0 0 #DADADA, 150px 30px 0 0 #DADADA, 160px 30px 0 0 #DADADA, 170px 30px 0 0 #DADADA, 180px 30px 0 0 #DADADA, 190px 30px 0 0 #DADADA, 200px 30px 0 0 #898989, 10px 40px 0 0 #898989, 20px 40px 0 0 #DADADA, 30px 40px 0 0 #DADADA, 40px 40px 0 0 #DADADA, 50px 40px 0 0 #DADADA, 60px 40px 0 0 #DADADA, 70px 40px 0 0 #DADADA, 80px 40px 0 0 #DADADA, 90px 40px 0 0 #DADADA, 100px 40px 0 0 #DADADA, 110px 40px 0 0 #DADADA, 120px 40px 0 0 #DADADA, 130px 40px 0 0 #DADADA, 140px 40px 0 0 #DADADA, 150px 40px 0 0 #DADADA, 160px 40px 0 0 #DADADA, 170px 40px 0 0 #DADADA, 180px 40px 0 0 #DADADA, 190px 40px 0 0 #DADADA, 200px 40px 0 0 #898989, 20px 50px 0 0 #898989, 30px 50px 0 0 #DADADA, 40px 50px 0 0 #DADADA, 50px 50px 0 0 #DADADA, 60px 50px 0 0 #DADADA, 70px 50px 0 0 #DADADA, 80px 50px 0 0 #DADADA, 90px 50px 0 0 #DADADA, 100px 50px 0 0 #DADADA, 110px 50px 0 0 #DADADA, 120px 50px 0 0 #DADADA, 130px 50px 0 0 #DADADA, 140px 50px 0 0 #DADADA, 150px 50px 0 0 #DADADA, 160px 50px 0 0 #DADADA, 170px 50px 0 0 #DADADA, 180px 50px 0 0 #DADADA, 190px 50px 0 0 #898989, 30px 60px 0 0 #898989, 40px 60px 0 0 #898989, 50px 60px 0 0 #898989, 60px 60px 0 0 #898989, 70px 60px 0 0 #898989, 80px 60px 0 0 #898989, 90px 60px 0 0 #898989, 100px 60px 0 0 #898989, 110px 60px 0 0 #898989, 120px 60px 0 0 #898989, 130px 60px 0 0 #898989, 140px 60px 0 0 #898989, 150px 60px 0 0 #898989, 160px 60px 0 0 #898989, 170px 60px 0 0 #898989, 180px 60px 0 0 #898989;
        }

      }
    }

  }

}

@media screen and (max-width: 900px) {
  .agenda {
    padding-top: 1.25rem;

    .list {
      margin: 0.125rem auto 0.6875rem;
      width: 6.875rem;

      .warp-item {
        line-height: 0.2375rem;
      }

      .ant-collapse-header {
        display: block;
        color: #FFF;
        line-height: 0.30625rem;

        .ant-collapse-expand-icon {
          position: absolute;
          left: 2.425rem;
          width: 0.30625rem;
          height: 0.30625rem;
          line-height: 0.30625rem;
          border: 1px solid #FFF;

          .ant-collapse-arrow {
            margin: 0 0.0875rem;
            font-size: 0.125rem;
          }
        }

        &:hover {

          .ant-collapse-header,
          .ant-collapse-arrow {
            color: #01FF00;
          }

          .ant-collapse-expand-icon {
            border: 1px solid #01FF00;
          }
        }
      }

      .ant-collapse-item-active {

        .ant-collapse-header,
        .ant-collapse-arrow {
          color: #01FF00;
        }

        .ant-collapse-expand-icon {
          border: 1px solid #01FF00;
        }
      }

      .ant-collapse-header-text {
        position: relative;
        display: block;
        margin-left: 0.875rem;
        width: 1rem;
        color: #01FF00;
        font-family: $ffontf;
        font-size: 0.2375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.30625rem !important;

        &::after {
          content: "";
          position: absolute;
          top: 0.15625rem;
          left: 1.625rem;
          width: 15rem;
          height: 0.00625rem;
          background-color: #FFF;
        }
      }
    }

    .box {
      margin-top: 0.21875rem;
      display: flex;

      .left {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 0.9875rem;
        text-align: center;
        color: #000;
        font-family: $ffontf;
        font-size: 0.1875rem;
        background-color: #01FF00;
      }

      .right {
        width: 5.85625rem;
        box-sizing: border-box;
        border: 1px solid #FFF;
        border-left: none;

        .time {
          margin-left: 0;
          margin-top: 0.1rem;
          line-height: normal;
          font-family: PingFang SC;
          font-size: 0.125rem;
          color: #01FF00;
        }
      }


      .title {
        display: block;
        justify-content: space-between;
        padding: 0 0.15rem;
        height: auto;
        border-bottom: 0.00625rem solid #FFF;

        .text {
          flex: 1;
          margin-top: 0.05rem;
          color: #FFF;
          font-family: $ffontf;
          font-weight: bold;
          font-size: 0.1375rem;
          line-height: 0.3rem;
        }


      }

      .content {
        box-sizing: border-box;
        border-bottom: 0.00625rem solid #FFF;
        padding: 0.1rem 0.15rem 0.15rem;

        .desc {
          color: #FFF;
          font-family: PingFang SC;
          font-size: 0.125rem;
        }

        .links {
          margin-top: 0.125rem;
          display: block;
          justify-content: space-between;
          color: #FFF;
          font-size: 0.125rem;
          background: none;

          .recording {
            margin-left: 0.2rem;
            color: #01FF00;
          }

          .name:last-of-type {
            margin-left: 0.2rem;
          }

          .info,
          .person {
            display: flex;
          }

          .time,
          .info,
          .person {
            position: relative;
            line-height: 0.3rem;
            padding-left: 0.3rem;
            width: 100%;
            box-sizing: border-box;

            &::before {
              content: "";
              position: absolute;
              top: 0.12rem;
              left: 0;
              width: 0.075rem;
              height: 0.075rem;
              background: url(./assets/rect.svg);
              background-size: 0.075rem 0.075rem;
            }
          }
        }
      }

      .inner-box {

        &:last-of-type {
          .main {
            border-bottom: none;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0.21875rem;
      }
    }

    .w-link {
      margin: 0.1rem auto;
      position: relative;
      width: 1.25rem;
      height: 0.375rem;
      cursor: pointer;

      .text {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 0.375rem;
        line-height: 0.375rem;
        text-align: center;
        color: #000;
        font-family: $ffontf;
        font-size: 0.1375rem;
        font-weight: 700;
      }

      .bg {
        position: absolute;
        left: -0.06875rem;
        top: -0.06875rem;
        box-shadow: 0.1875rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.25rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.3125rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.375rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.4375rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.5rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.5625rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.625rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.6875rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.75rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.8125rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.875rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.9375rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 1rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 1.0625rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 1.125rem 0.0625rem 0 0 rgba(0, 0, 0, 1), 0.125rem 0.125rem 0 0 rgba(0, 0, 0, 1), 0.1875rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.25rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.3125rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.375rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.4375rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.5625rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.625rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.6875rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.75rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.8125rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.875rem 0.125rem 0 0 rgba(255, 255, 255, 1), 0.9375rem 0.125rem 0 0 rgba(255, 255, 255, 1), 1rem 0.125rem 0 0 rgba(255, 255, 255, 1), 1.0625rem 0.125rem 0 0 rgba(255, 255, 255, 1), 1.125rem 0.125rem 0 0 rgba(255, 255, 255, 1), 1.1875rem 0.125rem 0 0 rgba(0, 0, 0, 1), 0.0625rem 0.1875rem 0 0 rgba(0, 0, 0, 1), 0.125rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.1875rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.25rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.3125rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.375rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.4375rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.5625rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.625rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.6875rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.75rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.8125rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.875rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 0.9375rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 1rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 1.0625rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 1.125rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 1.1875rem 0.1875rem 0 0 rgba(255, 255, 255, 1), 1.25rem 0.1875rem 0 0 rgba(0, 0, 0, 1), 0.0625rem 0.25rem 0 0 rgba(0, 0, 0, 1), 0.125rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.1875rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.25rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.3125rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.375rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.4375rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.5625rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.625rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.6875rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.75rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.8125rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.875rem 0.25rem 0 0 rgba(255, 255, 255, 1), 0.9375rem 0.25rem 0 0 rgba(255, 255, 255, 1), 1rem 0.25rem 0 0 rgba(255, 255, 255, 1), 1.0625rem 0.25rem 0 0 rgba(255, 255, 255, 1), 1.125rem 0.25rem 0 0 rgba(255, 255, 255, 1), 1.1875rem 0.25rem 0 0 rgba(255, 255, 255, 1), 1.25rem 0.25rem 0 0 rgba(0, 0, 0, 1), 0.125rem 0.3125rem 0 0 rgba(0, 0, 0, 1), 0.1875rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.25rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.3125rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.375rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.4375rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.5rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.5625rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.625rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.6875rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.75rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.8125rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.875rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 0.9375rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 1rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 1.0625rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 1.125rem 0.3125rem 0 0 rgba(255, 255, 255, 1), 1.1875rem 0.3125rem 0 0 rgba(0, 0, 0, 1), 0.1875rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.25rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.3125rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.375rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.4375rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.5rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.5625rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.625rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.6875rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.75rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.8125rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.875rem 0.375rem 0 0 rgba(0, 0, 0, 1), 0.9375rem 0.375rem 0 0 rgba(0, 0, 0, 1), 1rem 0.375rem 0 0 rgba(0, 0, 0, 1), 1.0625rem 0.375rem 0 0 rgba(0, 0, 0, 1), 1.125rem 0.375rem 0 0 rgba(0, 0, 0, 1);
        height: 0.072rem;
        width: 0.07rem;
      }

      &:hover {
        .bg {
          box-shadow: 0.1875rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 1rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.0625rem 0 0 rgba(1, 255, 0, 1), 0.125rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.1875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.125rem 0 0 rgba(1, 255, 0, 1), 1.1875rem 0.125rem 0 0 rgba(1, 255, 0, 1), 0.0625rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.125rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.1875rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 1rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 1.1875rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.1875rem 0 0 rgba(1, 255, 0, 1), 0.0625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.125rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.1875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.1875rem 0.25rem 0 0 rgba(1, 255, 0, 1), 1.25rem 0.25rem 0 0 rgba(1, 255, 0, 1), 0.125rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.1875rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 1rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 1.1875rem 0.3125rem 0 0 rgba(1, 255, 0, 1), 0.1875rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.25rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.3125rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.375rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.4375rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.5rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.5625rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.625rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.6875rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.75rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.8125rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.875rem 0.375rem 0 0 rgba(1, 255, 0, 1), 0.9375rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.0625rem 0.375rem 0 0 rgba(1, 255, 0, 1), 1.125rem 0.375rem 0 0 rgba(1, 255, 0, 1);
        }
      }

      &-disabled {
        cursor: not-allowed;

        .text {
          color: #898989;
        }

        .bg {
          box-shadow: 0.1875rem 0.0625rem 0 0 #898989, 0.25rem 0.0625rem 0 0 #898989, 0.3125rem 0.0625rem 0 0 #898989, 0.375rem 0.0625rem 0 0 #898989, 0.4375rem 0.0625rem 0 0 #898989, 0.5rem 0.0625rem 0 0 #898989, 0.5625rem 0.0625rem 0 0 #898989, 0.625rem 0.0625rem 0 0 #898989, 0.6875rem 0.0625rem 0 0 #898989, 0.75rem 0.0625rem 0 0 #898989, 0.8125rem 0.0625rem 0 0 #898989, 0.875rem 0.0625rem 0 0 #898989, 0.9375rem 0.0625rem 0 0 #898989, 1rem 0.0625rem 0 0 #898989, 1.0625rem 0.0625rem 0 0 #898989, 1.125rem 0.0625rem 0 0 #898989, 0.125rem 0.125rem 0 0 #898989, 0.1875rem 0.125rem 0 0 #DADADA, 0.25rem 0.125rem 0 0 #DADADA, 0.3125rem 0.125rem 0 0 #DADADA, 0.375rem 0.125rem 0 0 #DADADA, 0.4375rem 0.125rem 0 0 #DADADA, 0.5rem 0.125rem 0 0 #DADADA, 0.5625rem 0.125rem 0 0 #DADADA, 0.625rem 0.125rem 0 0 #DADADA, 0.6875rem 0.125rem 0 0 #DADADA, 0.75rem 0.125rem 0 0 #DADADA, 0.8125rem 0.125rem 0 0 #DADADA, 0.875rem 0.125rem 0 0 #DADADA, 0.9375rem 0.125rem 0 0 #DADADA, 1rem 0.125rem 0 0 #DADADA, 1.0625rem 0.125rem 0 0 #DADADA, 1.125rem 0.125rem 0 0 #DADADA, 1.1875rem 0.125rem 0 0 #898989, 0.0625rem 0.1875rem 0 0 #898989, 0.125rem 0.1875rem 0 0 #DADADA, 0.1875rem 0.1875rem 0 0 #DADADA, 0.25rem 0.1875rem 0 0 #DADADA, 0.3125rem 0.1875rem 0 0 #DADADA, 0.375rem 0.1875rem 0 0 #DADADA, 0.4375rem 0.1875rem 0 0 #DADADA, 0.5rem 0.1875rem 0 0 #DADADA, 0.5625rem 0.1875rem 0 0 #DADADA, 0.625rem 0.1875rem 0 0 #DADADA, 0.6875rem 0.1875rem 0 0 #DADADA, 0.75rem 0.1875rem 0 0 #DADADA, 0.8125rem 0.1875rem 0 0 #DADADA, 0.875rem 0.1875rem 0 0 #DADADA, 0.9375rem 0.1875rem 0 0 #DADADA, 1rem 0.1875rem 0 0 #DADADA, 1.0625rem 0.1875rem 0 0 #DADADA, 1.125rem 0.1875rem 0 0 #DADADA, 1.1875rem 0.1875rem 0 0 #DADADA, 1.25rem 0.1875rem 0 0 #898989, 0.0625rem 0.25rem 0 0 #898989, 0.125rem 0.25rem 0 0 #DADADA, 0.1875rem 0.25rem 0 0 #DADADA, 0.25rem 0.25rem 0 0 #DADADA, 0.3125rem 0.25rem 0 0 #DADADA, 0.375rem 0.25rem 0 0 #DADADA, 0.4375rem 0.25rem 0 0 #DADADA, 0.5rem 0.25rem 0 0 #DADADA, 0.5625rem 0.25rem 0 0 #DADADA, 0.625rem 0.25rem 0 0 #DADADA, 0.6875rem 0.25rem 0 0 #DADADA, 0.75rem 0.25rem 0 0 #DADADA, 0.8125rem 0.25rem 0 0 #DADADA, 0.875rem 0.25rem 0 0 #DADADA, 0.9375rem 0.25rem 0 0 #DADADA, 1rem 0.25rem 0 0 #DADADA, 1.0625rem 0.25rem 0 0 #DADADA, 1.125rem 0.25rem 0 0 #DADADA, 1.1875rem 0.25rem 0 0 #DADADA, 1.25rem 0.25rem 0 0 #898989, 0.125rem 0.3125rem 0 0 #898989, 0.1875rem 0.3125rem 0 0 #DADADA, 0.25rem 0.3125rem 0 0 #DADADA, 0.3125rem 0.3125rem 0 0 #DADADA, 0.375rem 0.3125rem 0 0 #DADADA, 0.4375rem 0.3125rem 0 0 #DADADA, 0.5rem 0.3125rem 0 0 #DADADA, 0.5625rem 0.3125rem 0 0 #DADADA, 0.625rem 0.3125rem 0 0 #DADADA, 0.6875rem 0.3125rem 0 0 #DADADA, 0.75rem 0.3125rem 0 0 #DADADA, 0.8125rem 0.3125rem 0 0 #DADADA, 0.875rem 0.3125rem 0 0 #DADADA, 0.9375rem 0.3125rem 0 0 #DADADA, 1rem 0.3125rem 0 0 #DADADA, 1.0625rem 0.3125rem 0 0 #DADADA, 1.125rem 0.3125rem 0 0 #DADADA, 1.1875rem 0.3125rem 0 0 #898989, 0.1875rem 0.375rem 0 0 #898989, 0.25rem 0.375rem 0 0 #898989, 0.3125rem 0.375rem 0 0 #898989, 0.375rem 0.375rem 0 0 #898989, 0.4375rem 0.375rem 0 0 #898989, 0.5rem 0.375rem 0 0 #898989, 0.5625rem 0.375rem 0 0 #898989, 0.625rem 0.375rem 0 0 #898989, 0.6875rem 0.375rem 0 0 #898989, 0.75rem 0.375rem 0 0 #898989, 0.8125rem 0.375rem 0 0 #898989, 0.875rem 0.375rem 0 0 #898989, 0.9375rem 0.375rem 0 0 #898989, 1rem 0.375rem 0 0 #898989, 1.0625rem 0.375rem 0 0 #898989, 1.125rem 0.375rem 0 0 #898989;
        }

        &:hover {
          .bg {
            box-shadow: 0.1875rem 0.0625rem 0 0 #898989, 0.25rem 0.0625rem 0 0 #898989, 0.3125rem 0.0625rem 0 0 #898989, 0.375rem 0.0625rem 0 0 #898989, 0.4375rem 0.0625rem 0 0 #898989, 0.5rem 0.0625rem 0 0 #898989, 0.5625rem 0.0625rem 0 0 #898989, 0.625rem 0.0625rem 0 0 #898989, 0.6875rem 0.0625rem 0 0 #898989, 0.75rem 0.0625rem 0 0 #898989, 0.8125rem 0.0625rem 0 0 #898989, 0.875rem 0.0625rem 0 0 #898989, 0.9375rem 0.0625rem 0 0 #898989, 1rem 0.0625rem 0 0 #898989, 1.0625rem 0.0625rem 0 0 #898989, 1.125rem 0.0625rem 0 0 #898989, 0.125rem 0.125rem 0 0 #898989, 0.1875rem 0.125rem 0 0 #DADADA, 0.25rem 0.125rem 0 0 #DADADA, 0.3125rem 0.125rem 0 0 #DADADA, 0.375rem 0.125rem 0 0 #DADADA, 0.4375rem 0.125rem 0 0 #DADADA, 0.5rem 0.125rem 0 0 #DADADA, 0.5625rem 0.125rem 0 0 #DADADA, 0.625rem 0.125rem 0 0 #DADADA, 0.6875rem 0.125rem 0 0 #DADADA, 0.75rem 0.125rem 0 0 #DADADA, 0.8125rem 0.125rem 0 0 #DADADA, 0.875rem 0.125rem 0 0 #DADADA, 0.9375rem 0.125rem 0 0 #DADADA, 1rem 0.125rem 0 0 #DADADA, 1.0625rem 0.125rem 0 0 #DADADA, 1.125rem 0.125rem 0 0 #DADADA, 1.1875rem 0.125rem 0 0 #898989, 0.0625rem 0.1875rem 0 0 #898989, 0.125rem 0.1875rem 0 0 #DADADA, 0.1875rem 0.1875rem 0 0 #DADADA, 0.25rem 0.1875rem 0 0 #DADADA, 0.3125rem 0.1875rem 0 0 #DADADA, 0.375rem 0.1875rem 0 0 #DADADA, 0.4375rem 0.1875rem 0 0 #DADADA, 0.5rem 0.1875rem 0 0 #DADADA, 0.5625rem 0.1875rem 0 0 #DADADA, 0.625rem 0.1875rem 0 0 #DADADA, 0.6875rem 0.1875rem 0 0 #DADADA, 0.75rem 0.1875rem 0 0 #DADADA, 0.8125rem 0.1875rem 0 0 #DADADA, 0.875rem 0.1875rem 0 0 #DADADA, 0.9375rem 0.1875rem 0 0 #DADADA, 1rem 0.1875rem 0 0 #DADADA, 1.0625rem 0.1875rem 0 0 #DADADA, 1.125rem 0.1875rem 0 0 #DADADA, 1.1875rem 0.1875rem 0 0 #DADADA, 1.25rem 0.1875rem 0 0 #898989, 0.0625rem 0.25rem 0 0 #898989, 0.125rem 0.25rem 0 0 #DADADA, 0.1875rem 0.25rem 0 0 #DADADA, 0.25rem 0.25rem 0 0 #DADADA, 0.3125rem 0.25rem 0 0 #DADADA, 0.375rem 0.25rem 0 0 #DADADA, 0.4375rem 0.25rem 0 0 #DADADA, 0.5rem 0.25rem 0 0 #DADADA, 0.5625rem 0.25rem 0 0 #DADADA, 0.625rem 0.25rem 0 0 #DADADA, 0.6875rem 0.25rem 0 0 #DADADA, 0.75rem 0.25rem 0 0 #DADADA, 0.8125rem 0.25rem 0 0 #DADADA, 0.875rem 0.25rem 0 0 #DADADA, 0.9375rem 0.25rem 0 0 #DADADA, 1rem 0.25rem 0 0 #DADADA, 1.0625rem 0.25rem 0 0 #DADADA, 1.125rem 0.25rem 0 0 #DADADA, 1.1875rem 0.25rem 0 0 #DADADA, 1.25rem 0.25rem 0 0 #898989, 0.125rem 0.3125rem 0 0 #898989, 0.1875rem 0.3125rem 0 0 #DADADA, 0.25rem 0.3125rem 0 0 #DADADA, 0.3125rem 0.3125rem 0 0 #DADADA, 0.375rem 0.3125rem 0 0 #DADADA, 0.4375rem 0.3125rem 0 0 #DADADA, 0.5rem 0.3125rem 0 0 #DADADA, 0.5625rem 0.3125rem 0 0 #DADADA, 0.625rem 0.3125rem 0 0 #DADADA, 0.6875rem 0.3125rem 0 0 #DADADA, 0.75rem 0.3125rem 0 0 #DADADA, 0.8125rem 0.3125rem 0 0 #DADADA, 0.875rem 0.3125rem 0 0 #DADADA, 0.9375rem 0.3125rem 0 0 #DADADA, 1rem 0.3125rem 0 0 #DADADA, 1.0625rem 0.3125rem 0 0 #DADADA, 1.125rem 0.3125rem 0 0 #DADADA, 1.1875rem 0.3125rem 0 0 #898989, 0.1875rem 0.375rem 0 0 #898989, 0.25rem 0.375rem 0 0 #898989, 0.3125rem 0.375rem 0 0 #898989, 0.375rem 0.375rem 0 0 #898989, 0.4375rem 0.375rem 0 0 #898989, 0.5rem 0.375rem 0 0 #898989, 0.5625rem 0.375rem 0 0 #898989, 0.625rem 0.375rem 0 0 #898989, 0.6875rem 0.375rem 0 0 #898989, 0.75rem 0.375rem 0 0 #898989, 0.8125rem 0.375rem 0 0 #898989, 0.875rem 0.375rem 0 0 #898989, 0.9375rem 0.375rem 0 0 #898989, 1rem 0.375rem 0 0 #898989, 1.0625rem 0.375rem 0 0 #898989, 1.125rem 0.375rem 0 0 #898989;
          }
        }
      }

    }
  }

}