@font-face {
  font-family: 'Frames Part One';
  src: url(./FramesPartOne/FramesPartOne-Bold.otf),
  url(./FramesPartOne/FramesPartOne-Light.otf),
  url(./FramesPartOne/FramesPartOne-Medium.otf),
  url(./FramesPartOne/FramesPartOne-Regular.otf),
  url(./FramesPartOne/FramesPartOne-Thin.otf);
}
@font-face {
  font-family: 'Pixel Countdown';
  src: url(./pixel_countdown/Pixel-Countdown.otf);
}