.home {
  position: relative;
  min-width: 800px;
  min-height: 770px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: auto;

  .content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
  }

  .title {
    margin-block: 0;
    font-size: 0;
    margin-top: 50px;
  }

  .head-logo {
    width: 459px;
    height: auto;
  }

  .logo-title {
    font-size: 20px;
    vertical-align: top;
    font-weight: 400;
  }

  .sub-color-title {
    margin-top: 32px;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(182deg, #4556F0 1.6%, #D458DE 102.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-title {
    margin-top: 100px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
  }

  .info-box {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 300;

    .info {
      position: relative;
      padding: 0 16px;

      :after {
        position: absolute;
        right: 0;
        content: " ";
        margin: 0 auto;
        height: 27px;
        border-right: 2px solid var(--primary-color);
      }

      &:last-child {

        ::after {
          display: none;
        }
      }
    }
  }

  .follow {
    margin-top: 43px;
    display: block;
    text-decoration: none;
    color: #fff;

    .follow-log {
      margin-bottom: 8px;

      >img {
        width: 32px;
        height: 32px;
      }
    }

    .follow-text {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .more-info {
    margin-top: 87px;
    font-size: 24px;
    font-weight: 300;
  }

  .coming-soon {
    font-size: 36px;
    font-weight: 300;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 563px;
    height: 80px;
    overflow: hidden;

    .circle {
      height: 563px;
      width: 563px;
      clip-path: ellipse(58% 50% at 50% 50%);
      background: linear-gradient(77deg, #4556F0 1.6%, #D458DE 102.27%);
    }

    .logo {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;

      .cbs-logo {
        vertical-align: top;
        margin: 24px 8px 10px;
        width: 89px;
        height: 48px;
      }

      .footer-logo {
        vertical-align: top;
        margin: 14px 8px 10px;
        width: 63px;
        height: 52px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home {
    position: relative;
    min-width: 10rem;
    min-height: 19rem;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden auto;

    .content {
      margin: 0;
      width: 100vw;
      text-align: center;
    }

    .title {
      margin-block: 0;
      font-size: 0;
      margin: 2rem 0 0 0;
    }

    .head-logo {
      width: 6.63889rem;
      height: 1.33333rem;
    }

    .sub-color-title {
      margin: 0.44rem 0 0 0;
      font-size: 0.55556rem;
    }

    .sub-title {
      margin: 1.78rem 0 0 0;
      font-size: 0.38889rem;
      font-weight: 400;
    }

    .info-box {
      margin-top: 0.16rem;
      font-size: 0.44444rem;
      font-weight: 300;

      .info {
        display: block;
        position: relative;
        margin: 0;
        padding: 0.42rem 0;


        ::after {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          content: " ";
          margin: 0 auto;
          width: 0.75rem;
          border-right: none;
          border-bottom: 2px solid var(--primary-color);
        }

        &:last-child {

          ::after {
            display: none;
          }
        }
      }
    }

    .follow {
      margin-top: 0.77rem;

      .follow-log {
        margin-bottom: 0.22rem;

        >img {
          width: 0.88889rem;
          height: 0.88889rem;
        }
      }

      .follow-text {
        font-size: 0.44444rem;
        font-weight: 300;
      }
    }

    .more-info {
      margin-top: 10vh;
      font-size: 0.38889rem;
      font-weight: 300;
    }

    .coming-soon {
      font-size: 0.55556rem;
      font-weight: 300;
    }

    .footer {
      position: absolute;
      margin: 0;
      bottom: 0;
      width: 100vw;
      height: 2.4rem;
      overflow: hidden;

      .circle {
        width: 100vw;
        height: 100vw;
        background: linear-gradient(77deg, #4556F0 1.6%, #D458DE 102.27%);
        clip-path: ellipse(64% 50% at 50% 50%);
      }

      .logo {
        position: absolute;
        top: 0;
        text-align: center;
        width: 100vw;


        .cbs-logo {
          vertical-align: top;
          margin: 0.6rem 0.275rem;
          width: 3.02778rem;
          height: 1.63889rem;

        }

        .footer-logo {
          vertical-align: top;
          margin: 0.45rem 0.275rem;
          width: 2.13889rem;
          height: 1.5778rem;
        }
      }
    }


  }
}