.m-home {
  position: relative;
  min-height: 21.64103rem;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-y: auto;

  .content {
    margin: 0 auto;
    text-align: center;
  }

  .title {
    margin: 1.85rem 0 0 0;
  }

  .logo {
    width: 6.12821rem;
    height: 1.23077rem;
  }

  .sub-color-title {
    margin: 0.41rem 0 0 0;
    font-size: 0.51282rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(182deg, #4556F0 1.6%, #D458DE 102.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sub-title {
    margin: 1.64rem 0 0 0;
    font-size: 0.35897rem;
    font-weight: 400;
  }

  .info-box {
    margin-top: 0.37rem;
    font-size: 0.41026rem;
    font-weight: 300;

    .info {
      position: relative;
      margin: 0;
      padding: 0.16rem 0;


      ::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content: " ";
        margin: 0 auto;
        width: 0.69231rem;
        border-bottom: 2px solid var(--primary-color);
      }

      &:last-child {
        border: none;

        ::after {
          display: none;
        }
      }
    }
  }

  .follow {
    margin-top: 0.72rem;

    .follow-log {
      margin-bottom: 0.21rem;

      >img {
        width: 0.82051rem;
        height: 0.82051rem;
      }
    }

    .follow-text {
      font-size: 0.41026rem;
      font-weight: 300;
    }
  }

  .more-info {
    margin-top: 4.74rem;
    font-size: 0.35897rem;
    font-weight: 300;
  }

  .coming-soon {
    font-size: 0.51282rem;
    font-weight: 300;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 3.1rem;
    overflow: hidden;

    .circle {
      width: 100vw;
      height: 100vw;
      background: linear-gradient(77deg, #4556F0 1.6%, #D458DE 102.27%);;
      clip-path: ellipse(64% 50% at 50% 50%);
    }

    .logo {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100vw;


      .cbs-logo {
        vertical-align: top;
        margin: 0.75rem 0.251rem;
        width: 2.74359rem;
        height: 1.69231rem;
      }

      .footer-logo {
        vertical-align: top;
        margin: 0.75rem 0.251rem;
        width: 1.20118rem;
        height: 1.50338rem;
      }
    }
  }


}